.home-hero {
  background-color: #eaeaea; /* Light background color */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.hero-item {
  display: flex;
  flex: 1;
}

.home-hero-heading,
.home-hero-sub-heading,
.hero-button {
  margin: 10px 0;
}

.home-hero-heading {
  font-size: calc(1.2vw + 15px);
  color: #333;
}

.home-hero-sub-heading {
  font-size: calc(0.8vw + 12px);
  color: #666;
}