#meal-prep-preferences {
    padding: 20px;
    text-align: center;
    background: #fff; /* Optional: if you want a different background */
    margin: auto;
    max-width: 600px; /* Adjust as needed */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  fieldset {
    border: none;
    margin: 20px 0;
  }
  
  label {
    margin: 10px 0;
    font-size: 16px; /* Adjust as needed */
    color: #333; /* Adjust if you have a specific color scheme */
  }
  
  button {
    width: auto;
    padding: 10px 20px;
    background-color: #4CAF50; /* Adjust to match your theme */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049; /* Darker on hover */
  }