/* Header.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-title {
  font-size: 60px;
  color: #333;
}

.home-desktop-menu {
  display: flex;
  justify-content: center;
  flex-grow: 2; /* Adjusted for center alignment */
  margin: 0 20px; /* Optional: Add space around the menu for visual separation */
}

.home-desktop-menu a {
  text-decoration: none;
  color: #007bff;
  padding: 10px;
  font-size: 20px; /* Increased font size for navigation links */
  margin-right: 20px; /* Adds space between the navigation links */
}

.home-desktop-menu a:not(:last-child) {
  margin-right: 20px; /* Ensures space is added between links but not after the last item */
}

.header-links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.header-links a {
  text-decoration: none;
  color: #007bff;
  padding: 10px;
  font-size: 20px; 
  margin-left: 10px; /* Space between "Login" and "Create Account" */
}

.header-links a:hover {
  color: #0056b3;
}